<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mybatis.example.BlogMapper">

    <resultMap id = "result" type = "org.mybatis.example.Blog">
        <result property = "id" column = "ID"/>
        <result property = "name" column = "NAME"/>
    </resultMap>

    <select id="selectBlog" resultMap="result">
        select * from blog where id = #{id}
    </select>

    <insert id = "insertBlog" parameterType = "org.mybatis.example.Blog">
        INSERT INTO blog (id, name )
        VALUES (#{id}, #{name});
    </insert>

    <update id = "updateBlog" parameterType = "org.mybatis.example.Blog">
        UPDATE blog SET  name = #{name} WHERE id = #{id};
    </update>

    <delete id = "deleteBlogById" parameterType = "int">
        DELETE from blog WHERE id = #{id};
    </delete>

    <select id="selectAll" resultType="org.mybatis.example.Blog">
        select * from blog
    </select>

</mapper>